# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test
.pytest_cache/
.coverage
htmlcov/